<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>primary</key>
		<string>#193441</string>
		<key>light</key>
		<string>#4C555C</string>
		<key>extraLight</key>
		<string>#91AA9D</string>
		<key>dark</key>
		<string>#32383D</string>
		<key>accent</key>
		<string>#193441</string>
		<key>background</key>
		<string>#FCFFF5</string>
		<key>imageTint</key>
		<string>#193441</string>
	</dict>
</dict>
</plist>
